<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringBoot.main.dao.admin.AuthorityMapper">

	 <insert id="add" parameterType="authority" >
	 insert into authority (roleId,menuId) values(#{roleId},#{menuId})
	 </insert>
 	<delete id="deleteByRoleId" parameterType="Long">
 	delete from authority where roleId=#{roleId}
 	</delete>
 	
 	<select id="findListByRoleId" parameterType="map" resultType="Authority" >
 	select * from authority 
 	<where>
 	<if test="roleId!=null">
 	 roleId =#{roleId}	
 	</if>
 	
 	</where>
 	</select>
 	
 	
</mapper>

